$menu-header-color: #35ddf7;
$menu-background-color: #575f72;
$menu-item-color: #4e5567;
$app-background-color: #eff3f6;
$page-background-color: #ffffff;

$menu-header-color-dark: #cf0010;
$menu-background-color-dark: #272727;
$menu-item-color-dark: #313131;
$app-background-color-dark: #333333;
$page-background-color-dark: #797979;

$error-notofocation: #bd362f;

body {
    margin: 0px;
    padding: 0px;
    position: relative;

    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
}